* {
  box-sizing: border-box;
}

/* General css */
body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: inherit;
  background-color: White;
  min-width: 600px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 0 0 Black, -2px 0 0 Black, 0 2px 0 Black, 0 -2px 0 Black, 1px 1px Black, -1px -1px 0 Black, 1px -1px 0 Black, -1px 1px 0 Black;
}

.hidden {
  display: none;
}

/* #container Layout */
#container {
  padding-left: 100px;   /* LC width */
  padding-right: 100px;  /* RC width */
  background-image: url("../imgs/column-background.jpg")
}
#container .column {
  position: relative;
  justify-content: center;
}
#center {
  width: 100%;
  background: #a56262;
  min-width: 200px;
  border-left: 2px solid Black;
  border-right: 2px solid Black;
}
#left {
  width: 100px;          /* LC width */
  right: 100px;          /* LC width */
  margin-left: -100%;
}
#right {
  width: 100px;          /* RC width */
  margin-right: -100px;  /* RC width */
}

/* Navbar Items */
.navbar {
  display: flex;
  padding: 40px 16px;
  width: 100%;
  color: inherit;
  background-color: White;
  background-image: url("../imgs/pokedex-headerBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 5px double Red;
  border-radius: 10px;
}

.navbar_item {
  flex: 0 1 300px;
}

.navbar-brand {
  font-size: 40px;
  color: Yellow;
  text-shadow: 2px 2px 8px Blue;
}

.logo-image {
  width: 75%;
}

#navbar-title {
  color: #767676;
  font-size: 40px;
}

/* Search Bar */
.btn {
  color: Black;
  background-color: white;
  border: 1px solid Black;
}

/* Pokemon List Items */
.list-group {
  list-style-type: none;
  margin: auto;
  padding: 4px;
}

.list-group-item {
}

button.btn.btn-block {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  color: White;
  text-shadow: 2px 0 0 Black, -2px 0 0 Black, 0 2px 0 Black, 0 -2px 0 Black, 1px 1px Black, -1px -1px 0 Black, 1px -1px 0 Black, -1px 1px 0 Black;
  background-color: inherit;
  background-image: url("../imgs/pokeList-item-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: 2px solid Black;
  border-radius: 10px;
  margin: 20px auto;
}

button.btn.btn-block:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Modal Items */
.modal-content {
  background-image: url("../imgs/pokeList-item-background.png");
  background-repeat: no-repeat;
  background-size: Cover;
  background-position: center;
  color: White;
  background-color: inherit;
  text-shadow: 2px 0 0 Black, -2px 0 0 Black, 0 2px 0 Black, 0 -2px 0 Black, 1px 1px Black, -1px -1px 0 Black, 1px -1px 0 Black, -1px 1px 0 Black;
  border-radius: 15px;
}

/* Device Support */
@media all and (max-width: 960px) {
  .logo-image {
    width: 75%
  }

  #navbar-title{
    font-size: 35px;
  }

  .navbar_item {
    flex: 0 1 150px;
  }

  #searchBar {
    width: 100px;
    font-size: 8px;
  }

  .btn {
    width: 50px;
    font-size: 8px;
  }

  /* Modal Backdrop */
   .modal-backdrop {
     width: 100%;
     height: 100%;
   }
}

/* @media all and (min-width: 500px) and (max-width: 960px) {

} */
